.main_background {
  	width: 100%;
  	filter: blur(3px);
  	-webkit-filter: blur(3px);
}

.secondary_background {
	height: 400px;
	object-fit: cover;
	object-position: 20% -250px;
}
/*1060px-nél ugorjon össze*/
@media screen and (max-width: 1060px) {
    .main_box {
        display: none !important;
    }

    /* .service {
    	display: none !important;
    } */

    .header_p {
    	display: none !important;
    }

    .secondary_background {
		height: 100%;
		object-fit: cover;
		object-position: 20% 0px;
	}

	.smart_icon_wide {
		width: 100%;
	}

	.smart_icon_high{
		display: none !important;
	}
}

@media screen and (max-width: 908px) {
	.smart_icon_hidden{
		display: block !important;
		width: 100%;
	}
}

@media screen and (min-width: 1060px) {
	.header {
    	margin-right: 25% !important; 
	}
}

.header_p {
	size: 2rem !important;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	
}

.line {
	padding: 110px 0;
}

.main_box {
	margin-left: 25%;
}

.begin {
	padding: 72px 0;
}

.gray {
	background-color: #A7B6C9ff;
}

/* .service {
	background-color:#4C667Dff;
	color: white;
}
 */
.picture {
	background-image: url(../../img/second_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.trans {
	background-color: rgba(255, 255, 255, 0.4);
}

.footer {
	background-color: #3F4C59ff;
	color: white;
}

.header {
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

.icon_little {
	height: 24px;
	width: 24px;
	font-weight: 500;
}

.icon {
	height: 64px;
	width: 64px;
}

object {
	height: 64px;
	width: 64px;
	fill: white;
}

.cel-img {
	width: 80%;
}

.smart_icon_high{
	display: block;
	height: 640px;
	padding: 6px, 6px;
}

.smart_icon_wide {
	padding: 6px, 6px;
}

.smart_icon_hidden {
	display: none;
}

.result {
	background-color: rgb(30, 146, 30);
	border-radius: 5px;
	border: 2px solid black;
	color: white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.ani {
	opacity: 0;
	transform: translate(0, 10vh);
	transition: all 1s;
}

.ani.fade-in {
	opacity: 1;
  	transform: translate(0, 0);
}

/*$color1: #A7B6C9ff;
$color2: #E5FEFEff;
$color3: #3F4C59ff;
$color4: #4C667Dff;*/